@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
/*다크모드 기능 추가 시 활성화*/
/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: normal;
  }

  .base-transition {
    @apply transition-all duration-100 ease-in-out;
  }

  .btn-hover {
    @apply hover:font-semibold hover:scale-105 cursor-pointer base-transition;
  }

  .btn-bold-hover {
    @apply hover:font-bold hover:scale-105 cursor-pointer base-transition;
  }
}

@layer components {
  .contact-btn {
    @apply rounded-full border-[1px] px-5 py-2 overflow-clip;
    @apply font-semibold cursor-pointer relative;
    @apply base-transition;
    @apply border-gray-900 hover:border-transparent;
  }

  .pop-menu-bar {
    @apply flex xl:hidden flex-col gap-4 base-transition;
    @apply w-full px-8 py-4 bg-white border absolute top-20 left-0;
  }

  .fade-in {
    animation: bounceIn 0.5s ease-in-out 1;
  }
}

/* 덜컹거림 */
@keyframes bounceIn {
  0% {
    opacity: 0;
    transform: translateX(350px);
  }
  50% {
    opacity: 50%;
    transform: translateX(-6px);
  }
  100% {
    opacity: 100%;
    transform: translateX(0);
  }
}